[user]
	name = Nikita Kouevda
	email = nkouevda@gmail.com

[grep]
	lineNumber = true

[diff]
	algorithm = patience
	renames = true

[difftool]
	prompt = false
	trustExitCode = true

[difftool "icdiff"]
	cmd = "icdiff -- \"$LOCAL\" \"$REMOTE\" | less -R"

[difftool "icdiffu"]
	cmd = "icdiff --unified=0 -- \"$LOCAL\" \"$REMOTE\" | less -R"

[difftool "icdiffw"]
	cmd = "icdiff --whole-file -- \"$LOCAL\" \"$REMOTE\" | less -R"

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = upstream

[pretty]
	name = "%C(yellow)%h%C(auto)%d %C(blue)%aN %C(reset)%s"

[alias]
	st = status
	sts = status --short --branch
	rp = rev-parse
	rpa = rev-parse --abbrev-ref
	br = branch --verbose --verbose
	bra = branch --verbose --verbose --all
	brm = branch --move
	brmf = branch -M
	brd = branch --delete
	brdf = branch -D
	sb = show-branch
	sba = show-branch --all
	lg = log --graph --pretty=name
	lga = log --graph --pretty=name --all
	lgs = log --graph --pretty=name --all --simplify-by-decoration
	rmc = rm --cached
	rmcf = rm --cached --force
	sh = stash
	shl = stash list
	shs = stash save
	sha = stash apply
	shp = stash pop
	shd = stash drop
	shc = stash clear
	ci = commit
	cia = commit --amend
	ciar = commit --amend --reset-author
	cian = commit --amend --no-edit
	cianr = commit --amend --no-edit --reset-author
	co = checkout
	cob = checkout -b
	cobf = checkout -B
	com = checkout master
	cor = "!sh -c '[[ -n \"$1\" ]] && \
		git checkout -B \"$1\" \"${2:-origin}/$1\"' -"
	corm = "!sh -c 'git checkout -B master \"${1:-origin}/master\"' -"
	hard = "!sh -c 'git reset --hard \"${@:-HEAD}\"' -"
	soft = "!sh -c 'git reset --soft \"${@:-HEAD}\"' -"
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	fe = fetch
	fet = fetch --tags
	fea = fetch --all
	feat = fetch --all --tags
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	rbm = rebase master
	df = diff
	dfu = diff --unified=0
	dfs = diff --stat
	dfv = difftool --tool=vimdiff
	dfi = difftool --tool=icdiff
	dfiu = difftool --tool=icdiffu
	dfiw = difftool --tool=icdiffw
	dfc = diff --cached
	dfcu = diff --cached --unified=0
	dfcs = diff --cached --stat
	dfcv = difftool --tool=vimdiff --cached
	dfci = difftool --tool=icdiff --cached
	dfciu = difftool --tool=icdiffu --cached
	dfciw = difftool --tool=icdiffw --cached
	dfo = "!sh -c 'git diff \"${1:-HEAD}\"~ \"${1:-HEAD}\" \"${@:2}\"' -"
	dfou = "!sh -c 'git diff \
		\"${1:-HEAD}\"~ \"${1:-HEAD}\" --unified=0 \"${@:2}\"' -"
	dfos = "!sh -c 'git diff \
		\"${1:-HEAD}\"~ \"${1:-HEAD}\" --stat \"${@:2}\"' -"
	dfov = "!sh -c 'git difftool --tool=vimdiff \
		\"${1:-HEAD}\"~ \"${1:-HEAD}\" \"${@:2}\"' -"
	dfoi = "!sh -c 'git difftool --tool=icdiff \
		\"${1:-HEAD}\"~ \"${1:-HEAD}\" \"${@:2}\"' -"
	dfoiu = "!sh -c 'git difftool --tool=icdiffu \
		\"${1:-HEAD}\"~ \"${1:-HEAD}\" \"${@:2}\"' -"
	dfoiw = "!sh -c 'git difftool --tool=icdiffw \
		\"${1:-HEAD}\"~ \"${1:-HEAD}\" \"${@:2}\"' -"
	fzf = "!sh -c 'git \"$@\" $(git status --porcelain | cut -c 4- | \
		fzf --extended-exact --multi --select-1 --exit-0)' -"
	fadd = "!sh -c 'git fzf add \"$@\"' -"
	fco = "!sh -c 'git fzf checkout \"$@\"' -"
	freset = "!sh -c 'git fzf reset \"$@\"' -"
	foreach = "!sh -c 'find -- \"$1\" -type d -name \".git\" \
		-print -execdir \"${@:2}\" \";\"' -"
	trace = "!sh -c 'GIT_TRACE=1 git \"$@\"' -"
