[user]
	name = Nikita Kouevda
	email = nkouevda@gmail.com

[log]
	date = iso

[grep]
	lineNumber = true

[diff]
	algorithm = patience
	renames = copies
	noprefix = true
	wsErrorHighlight = all

[difftool]
	prompt = false
	trustExitCode = true

[difftool.pdiff]
	cmd = "pdiff -- \"$LOCAL\" \"$REMOTE\" | less -R"

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = upstream

[advice]
	statusHints = false
	detachedHead = false

[color.status]
	branch = cyan

[pretty]
	compact = "%C(auto)%h %C(blue)%ad %C(magenta)%aN%C(auto)%d %C(reset)%s"

[alias]
	st = status
	sts = status --short --branch
	rp = "!sh -c 'git rev-parse \"${@:-HEAD}\"' -"
	rpa = "!sh -c 'git rev-parse --abbrev-ref \"${@:-HEAD}\"' -"
	root = rev-parse --show-toplevel
	prefix = rev-parse --show-prefix
	br = branch
	brv = branch --verbose --verbose
	bra = branch --all
	brav = branch --all --verbose --verbose
	brf = branch --force
	brfm = branch --force master origin/master
	brm = branch --move
	brmf = branch --move --force
	brd = branch --delete
	brdf = branch --delete --force
	sb = show-branch
	sba = show-branch --all
	lg = log --pretty=compact --graph
	lgo = log --pretty=compact --graph -n 1
	lgm = "!sh -c 'git log --pretty=compact --graph ^master \"${@:-HEAD}\"' -"
	lgs = log --pretty=compact --graph --branches --simplify-by-decoration
	lf = log --pretty=fuller --decorate
	lfo = log --pretty=fuller --decorate -n 1
	lfm = "!sh -c 'git log --pretty=fuller --decorate ^master \"${@:-HEAD}\"' -"
	lfs = log --pretty=fuller --decorate --stat
	lfso = log --pretty=fuller --decorate --stat -n 1
	lfsm = "!sh -c 'git log --pretty=fuller --decorate --stat ^master \"${@:-HEAD}\"' -"
	rmc = rm --cached
	rmcf = rm --cached --force
	sh = stash
	shl = stash list
	shs = stash save
	shw = stash show --patch
	sha = stash apply
	shp = stash pop
	shd = stash drop
	shc = stash clear
	ci = commit
	cia = commit --amend
	ciar = commit --amend --reset-author
	cian = commit --amend --no-edit
	cianr = commit --amend --no-edit --reset-author
	co = checkout
	cob = checkout -b
	cobf = checkout -B
	cod = checkout --detach
	com = checkout master
	cor = "!sh -c 'git checkout -B \"${1:?unset}\" \"origin/$1\"' -"
	corm = checkout -B master origin/master
	hard = "!sh -c 'git reset --hard \"${@:-HEAD}\"' -"
	soft = "!sh -c 'git reset --soft \"${@:-HEAD}\"' -"
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	fe = fetch
	fet = fetch --tags
	fea = fetch --all
	feat = fetch --all --tags
	pl = pull
	pla = pull --tags
	pla = pull --all
	plat = pull --all --tags
	rb = rebase
	rbm = rebase master
	rbi = rebase --interactive
	rbim = rebase --interactive master
	rbo = rebase --onto
	rbom = rebase --onto master
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	df = diff
	dfc = diff --cached
	dfo = "!sh -c 'git diff \"${1:-HEAD}\"^ \"${@:-HEAD}\"' -"
	dfm = "!sh -c 'git diff \"$(git merge-base master \"${1:-HEAD}\")\" \"$@\"' -"
	dfs = diff --stat
	dfsc = diff --stat --cached
	dfso = "!sh -c 'git diff --stat \"${1:-HEAD}\"^ \"${@:-HEAD}\"' -"
	dfsm = "!sh -c 'git diff --stat \"$(git merge-base master \"${1:-HEAD}\")\" \"$@\"' -"
	dfp = difftool --tool=pdiff
	dfpc = difftool --tool=pdiff --cached
	dfpo = "!sh -c 'git difftool --tool=pdiff \"${1:-HEAD}\"^ \"${@:-HEAD}\"' -"
	dfpm = "!sh -c 'git difftool --tool=pdiff \"$(git merge-base master \"${1:-HEAD}\")\" \"$@\"' -"
	fadd = "!sh -c 'git fzf status-unstaged git add \"$@\" --' -"
	fco = "!sh -c 'git fzf status-unstaged git checkout \"$@\" --' -"
	frm = "!sh -c 'git fzf status-unstaged git rm \"$@\" --' -"
	freset = "!sh -c 'git fzf status git reset \"$@\" --' -"
	fbrco = "!sh -c 'git fzf branch git checkout \"$@\"' -"
	fbrd = "!sh -c 'git fzf branch git branch --delete \"$@\"' -"
	trace = "!sh -c 'GIT_TRACE=1 git \"$@\"' -"
