# Nikita Kouevda
# 2014/10/12

# Search history incrementally on up and down
"\e[A": history-search-backward
"\e[B": history-search-forward

# List all possible completions on tab
set show-all-if-ambiguous on

# Ignore case for completion
set completion-ignore-case on

# Append slashes when completing symlinked directories
set mark-symlinked-directories on
