# Search history incrementally on up, ^P, down, ^N
"\e[A": history-search-backward
"\C-p": history-search-backward
"\e[B": history-search-forward
"\C-n": history-search-forward

# {back,for}ward WORD instead of word
"\C-b": shell-backward-word
"\C-f": shell-forward-word

# List all possible completions on first tab
set show-all-if-ambiguous on

# Ignore case for completion
set completion-ignore-case on

# Do not duplicate existing characters when completing
set skip-completed-text on

# Threshold for 'Display all X possibilities?' prompt
set completion-query-items 250

# Color common prefix for possible completions
set colored-completion-prefix on
