# Allow filetype-specific snippets to override these
priority -1

snippet #! "#!" b
#!/usr/bin/env $0
endsnippet

snippet /(?<!\w)(name|nikita)/ "Nikita Kouevda" r
Nikita Kouevda
endsnippet

snippet nk "nkouevda" w
nkouevda
endsnippet

snippet date "date" w
`date +%Y-%m-%d`
endsnippet

snippet time "time" w
`date +%H:%M`
endsnippet

snippet /(?i)(?<!\w)todo/ "TODO" r
TODO(nkouevda): $0
endsnippet
