# Allow filetype-specific snippets to override these
priority -1

snippet #! "#!" b
#!/usr/bin/env $0
endsnippet

snippet date "date" w
`date +%F`
endsnippet

snippet time "time" w
`date +%T`
endsnippet

snippet /(?i)(?<!\w)todo/ "TODO" r
TODO(${1:nkouevda}): $0
endsnippet

snippet go "https://go/" w
https://go/
endsnippet
