# Nikita Kouevda
# 2014/12/01

# Allow filetype-specific snippets to override these
priority -10

snippet #! "#!" b
#!/usr/bin/env $0
endsnippet

snippet /(?<!\w)(name|nikita)/ "name" r
Nikita Kouevda
endsnippet

snippet date "date" w
`date +%Y/%m/%d`
endsnippet
