extends html

snippet /(?<!\[)\[/ "link" r
[${1:link text}](${2:href})
endsnippet

snippet /\[\[/ "link reference" r
[${1:link text}][${2:id}]
endsnippet

snippet [: "link definition" b
[${1:id}]: $0
endsnippet

snippet /!\[/ "image" r
![${1:alt text}](${2:href})
endsnippet

snippet /!\[\[/ "image reference" r
![${1:alt text}][${2:id}]
endsnippet
