# Nikita Kouevda
# 2015/01/01

snippet stub "StubOutWithMock" wb
self.mox.StubOutWithMock(${1:obj}, '${2:attr}')
endsnippet

snippet mock "CreateMock" wb
self.mox.CreateMock(${1:cls})
endsnippet

snippet anything "CreateMockAnything" wb
self.mox.CreateMockAnything(${1:cls})
endsnippet

snippet replay "ReplayAll" wb
self.mox.ReplayAll()
endsnippet

snippet ignore "IgnoreArg" w
mox.IgnoreArg()
endsnippet
